.equipoNav {
    background-color:#131313;
    height: 206px !important;
    display: flex;
    justify-content: center;
    align-items: start;
}

.boxImagen {
    width: 200px;
    background-color: #0B0B0B;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Imagen {
    width: 91.9%;
}


.Box {
    height:6px;
    background-color: #fff;
    box-shadow: 0 -5px 20px 5px rgba(255, 255, 255, 0.4);
    width: 200px;
    transition: all .3s ease;
    border-radius: 2.7px;
}
.BoxInactive {
    height:6px;
    background-color: #0B0B0B;
    width: 200px;
}
