.titleBox {
    margin-top: 80px;
    width: 100%;
    margin-bottom: 80px;
}
.title {
    font-size: 64px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: start;
    line-height: 64px;
    
    padding-left: 116px;
    padding-right: 116px;
}
.n1{
    color: #BDBDBD;
    font-style: normal;
}
.n2 {
    color: #131313;
    font-weight: 700;
    font-style: normal;
}

.equipos {
    /*
    display: flex;
    justify-content: space-between;
   
    padding-left: 116px;
    padding-right: 116px;
    */
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(502px, 1fr)
    );
    gap: 50px;
    padding-left: 116px;
    padding-right: 116px;
    margin-bottom: 70px;
}

.card {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 1px solid #131313;
    position: relative;
    width: 502px;
    height: 765px;
    margin: 0px auto;
}
.cardMachine {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1px;
    transition: all;
    border-radius: 0.375rem; 
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
}
.cardMachine:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.imgEquipo {
    position: absolute;
    top: 0;
    margin-top: 30px;
    width: 100%;
}

.tagsContainer {
    position: absolute;
    top: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #b3b3b3;
}

.tagsContainerOperativo {
    position: absolute;
    top: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #54C42D;
}


.tags {
    font-family: "Roboto";
    font-size: 10px !important;
    font-weight: bold;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    padding: 0 10px;
}




.cardDetails{
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #262626;;
    height: 228px;
}

.titleEquipo, 
.titleEstado,
.textTiempoTrans {
    font-family: "Roboto";
    color: #fff;
    text-align: start;
    padding-left: 39px;
}

.titleEquipo {
    font-size: 20px;
}

.titleEstado {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}

.textReceta,
.textTiempoTrans {
    display: block;
    color: #EEE;
    font-size: 16px;
    height: 38px;
}
.buttonArrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 35px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2.6px;
    text-decoration: none;
}

.buttonCocina {
    color: #EF8225;
}
.buttonEndriador {
    color: #33A7FD;
}

