.titleBox {
    margin-top: 100px;
    width: 100%;
}
.title {
    font-size: 64px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: start;
    line-height: 64px;
    
    padding-left: 116px;
    padding-right: 116px;
}
.n1{
    color: #BDBDBD;
    font-style: normal;
}
.n2 {
    color: #131313;
    font-weight: 700;
    font-style: normal;
}

.equipos {
    /*
    display: flex;
    justify-content: space-between;
   
    padding-left: 116px;
    padding-right: 116px;
    */
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(502px, 1fr)
    );
    gap: 50px;
    padding-left: 116px;
    padding-right: 116px;
}

.card {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 1px solid green;
    position: relative;
    width: 502px;
    height: 765px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.imagen {

}

.imgEquipo {
    position: absolute;
    top: 0;
    height: 75%;
    width: 100%;
}

.cardDetails{
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #262626;;
    height: 228px;
}
.textReceta {
    display: block;
}
.titleEquipo, 
.titleEstado,
.textTiempoTrans {
    font-family: "Roboto";
    color: #fff;
    text-align: start;
    padding-left: 39px;
}

.titleEquipo {
    font-size: 20px;
}

.titleEstado {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}
.textRecetaNone {
    display: none;
}

.textReceta,
.textTiempoTrans {
    color: #EEE;
    font-size: 16px;
    height: 38px;
}
.buttonArrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 35px;
    font-size: 15px;
    font-weight: 700px;
    letter-spacing: 2.6px;
    text-decoration: none;
}

.buttonCocina {
    color: #EF8225;
}
.buttonEndriador {
    color: #33A7FD;
}

