.container {
    background-color: #000;
    padding: 40px 116px;
}
.container_chart {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.c_chart_header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 30px 0;
}
.title_chart_historico {
    color: #D9D9D9;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 40px;
    margin: 0;
}

.c_chart {
    border: 2px solid #434651;
    background-color: black;
    border-radius: 16px;
    padding: 32px 40px;
    max-height: 420px;
}
.c_chartSeries {
    height: 350px;
    position: relative;
}
.c_chart_width {
    height: 510px;
    max-height: 510px;
}
.c_chart_panel {
    border: none;
    background-color: #131313;
    padding: 22px;
}
.c_chart_component {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}
.c_container_model {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid tomato;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    cursor: pointer;
}
.table_header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    border:1px solid #434651;
    padding: 0px 10px;
    border-radius: 5px ;
}
.title {
    font-family: "Roboto";
    color: #fff;
    text-align: start;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.title_model {
    color: #131313;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    text-align: center;
}
.title_panel {
    color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.sub_title_panel {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    margin-top: 5px;
}
.cocina {
    color: #EF8225;
}
.enfriador {
    color: #33A7FD;
}

.list_option_temp {
    border: 1px solid #434651;
    border-radius: 6px;
    padding: 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 450px;
    gap: 5px;
}
.list_option {
    border: 1px solid #434651;
    border-radius: 6px;
    padding: 0 5px;
}

.list_button {
    border-radius: 6px;
    background-color: #000;
    padding:0px 11px;
    margin:5px 0px;
    border: none;
    cursor: pointer;
    height: 34px;
    transition: all 0.7ms;
}
.isActiveButton {
    background-color: #2a2e39 !important;
    font-weight: bold;
}

.list_button:hover {
    background-color: #2a2e39;
    color: white;
}

 li {
    color: #d1d4dc;
    list-style: none;
    font-family: "Roboto", "Helvetica Neue";
    text-align: center;
    font-size: 16px;
}


/*Component CHART unit*/
.list_option_component {
    border-radius: 6px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0;
}
/*Component FORM NATIVE
.form_date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 60%;
    gap: 4px;
}
.form_title {
    color: #d1d4dc;
    list-style: none;
    font-family: "Roboto";
    margin: 2px 0;
    font-size: 14px;
    grid-column-start: span 2;
}
.form_input {
    position: relative;
    border: 1px solid red;
    min-width: 150px;
    align-items: center;
}
.form_input_one {
    position: absolute;
    z-index: 5;
}

.form_input_one, .form_input_two  {
    border: 1px solid #434651;
    background-color: #000;
    border-radius: 6px;
    color: #d1d4dc;
    height: 27px;
    padding-left: 10px;
    width: 100%;
}
.icon_calender {
    position: absolute;
    z-index: 9;
    overflow: hidden;
    top: 0;
    right: 0;
    color: #d1d4dc;
    border: 1px solid yellow;
    padding-top: 2px;
    cursor: pointer;
}
*/
.list_button_component{
    align-items: flex-end;
    border: 1px solid #434651;
    border-radius: 6px;
    background-color: #000;
    padding:0px 11px;
    margin-top: 0;
    cursor: pointer;
    height: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
    max-width: max-content;
}

.form_date {
    display: flex;
    flex-direction: column;
    border-inline-start: 1.5px solid #3D3D3D;
    border-radius: 10px;
    padding-left:20px;
    padding-bottom: 0;

}
.date_picker {
    background-color: #131313;
    border: 1px solid #3D3D3D;
    color: #D9D9D9;
    align-items: center;
    border-radius: 6px;
    padding-left: 30px !important;
}
.date_picker:focus {
    border: 1px solid red;
    outline: none;
}
.button_component {
    font-family: "Roboto";
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #d1d4dc;
    border: 1px solid #434651;
    border-radius: 6px;
    background-color: #000;
    padding: 0px 11px;
    margin-top: 0;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: max-content;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.9;
}

.button_component:hover {
    background-color: #434651;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transform: scale(1.1);
    opacity: 1;
}

.button_component:focus,
.button_component.dark:focus {
    outline: none;
    box-shadow: 0 0 0 4px #434651;
}

.button_component:hover:focus,
.button_component:focus:not(:focus-visible),
.button_component:hover:focus:not(:focus-visible) {
    outline: none;
    box-shadow: 0 0 0 4px #434651;
}

.button_component:hover:focus-visible {
    box-shadow: 0 0 0 4px #434651;
}

.button_component:hover:active {
    transform: scale(0.9);
}
.box_date {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
        );
    gap: 10px;
}
.form_box_date {
    display: flex;
    gap: 8px;
}
.sub_title {
    font-family: "Roboto";
    font-weight:lighter;
    color: #D9D9D9;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
.form_box_buttom {
    padding-top: 8px;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.component_point_series {
    width: 6px;
    height: 14px;
    border-radius: 3px;
}
.component_name {
    color: #D9D9D9;
    font-family: "Roboto";
    font-weight: 400;

}