/*SE PUDE BOORRRAR*/

.equipoNav {
    background-color:#131313;
    height: 200px !important;
    display: flex;
    justify-content: center;
    align-items: start;
}
.boxImagen {
    width: 200px;
    background-color: #0B0B0B;
    border: 1px solid violet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Imagen {
    width: 90%;
}

/*FIN    SE PUDE BOORRRAR*/

main {
    margin: 0;
    padding: 0;
}

.CabeceraPanelControl {
    background-color: #1F1F1F; 
    padding-left: 116px;
    padding-right: 116px;

}

.titleBox {
    padding-top: 80px;
    width: 100%;
    margin-bottom: 80px;
}
.title {
    font-size: 64px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: start;
    line-height: 64px;
}

.n1{
    color: #BDBDBD;
    font-style: normal;
}
.CocinaTitle {
    color: #EF8225;
    font-style: normal;
}

.Receta {
    color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

/*ESTILOS COMPONENTES DE DATO TIME REAL*/
.boxDataTime {
    border: 1px solid green;
    padding: 2px;
    display: grid;
    padding-bottom: 70px;
    grid-template-columns: repeat(
        auto-fit,
        minmax(474px, 1fr)
        );
        gap: 20px;
}

@media (width > 1300px) {
    .boxDataTime {
        grid-template-columns: 474px 697px;
        gap: 20px;
    }
}



.dataTime {
    background: #131313;
    border-radius: 15px;
    padding: 22px;
}
.dataTie:first-child {

}
.dataTime:nth-child(2) {

}
.dataTime:nth-child(3) {

}


.titleElement {
    color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    
}
.subTitleElement {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    margin-top: 5px;
    color: #EF8225;
}


.ElementSensor {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
    gap: 15px;
    max-width: 420px; 
}
.ElementSecond{
    max-width: 630px;
}
