.ml10 {
	position: relative;
  }
  
  .ml10 .text-wrapper {
	position: relative;
	display: inline-block;
	overflow: hidden;
  }
  
  .ml10 .letter {
	display: inline-block;
	line-height: 1em;
	transform-origin: 0 0;
  }