.titleBox {
    width: 100%;
    padding-bottom: 20px;
}
.title {
    font-size: 34px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: start;
}
.Receta {
    color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 34px;
    font-style: normal;
}
.RecetaPanel {
    color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 34px;
    font-style: normal;
    line-height: 34px;
}

.CocinaTitle {
    color: #EF8225;
    font-style: normal;
    font-weight: 600;
}
.EnfriadorTitle {
    color: #33A7FD;
    font-style: normal;
    font-weight: 600;
}
.Cocina, .Enfriador {
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: start;
    font-style: normal;
    font-weight: lighter;
}
.Cocina {
    color: #EF8225;
}
.Enfriador {
    color: #33A7FD;
}