@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


.icn {
  width: 20px;
  height: 20px;
  color: #000;
  animation: enhance-li linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
}
@keyframes enhance-li {
    to {
        color: #fff;
    }
}
.icn-button {
  width: 17px;
  color: #fff;
  animation:none;
}

body {
  width: 100%;
  margin: 0px;
}
.react-datepicker__input-container {
  max-width: 240px;
  z-index: 9;
}
.react-datepicker-popper {
  z-index: 12 !important;
}
.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 25px;
  max-width: 158px;
}
li {
  text-wrap: nowrap;
}