@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.icn {
  width: 20px;
  height: 20px;
  color: #000;
  animation: enhance-li linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
}
@keyframes enhance-li {
    to {
        color: #fff;
    }
}

body {
  width: 100%;
  margin: 0px;
}
.react-datepicker__input-container {
  max-width: 250px;
  z-index: 9;
}